
// Vertical Rhythm e sprites

@import 'compass/typography';
@import 'compass/css3';
@import 'compass/reset';
// @import "images/icons/*.png";
// @include all-icons-sprites;


// Vertical Rhythm ------------------------

$base-font-size: 16px !global;
$base-line-height: 24px !global;
$rythm-unit: "rem" !global;
$rem-to-px-fallback: true !global;
@include establish-baseline;

body{
	@include rhythm-margins(2, 0);
	// @include debug-vertical-alignment;
	font-family: 'ceraregular';
}

p,iframe,button,div,img{
	@include margin-trailer;
}

h1{
	@include adjust-font-size-to(3.157rem);
}
h2{
	@include adjust-font-size-to(2.369rem);
}
h3{
	@include adjust-font-size-to(1.777rem);
}
h4{
	@include adjust-font-size-to(1.333rem);
}
h5{
	@include adjust-font-size-to(1em);
}
h6{
	@include adjust-font-size-to(0.75em);
}

img.rhythmic{
	display: block;
	margin: 0px auto;
	max-width: 100%;
	height: auto;
}

#flor{
	max-height: 408px;
}
// ---------------------------------------------------------------------------
