$textcolor: #333333;
$cordestaque: #006CD8;
$flex: flex;
$cinzaclaro: #efefef;
$paddingdiv: 10vh 10vw 10vh 10vw;
$paddingdivmore: 10vh 15vw 10vh 15vw;
$m1: 5vh;
$m2: 10vh;
$m3: 15vh;
$m4: 20vh;
$m5: 25vh;

header{
	height: 100vh;
	width: 100%;

	h1, h2, h3{
		color: $textcolor;
	}

	p{
		color: $textcolor;
		font-size: 14px;
		text-align: center;
	}
}

.btn-default{
	background-color: #fff;
	color: $cordestaque;
	border-radius: 25px;
	border: $cordestaque solid 2px;
	width: 135px;
	&:hover{background-color: $cordestaque; color: #fff}
};

%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

.warning{
	@extend %message-shared;
	border-color: $cordestaque
}

%flex-display{
	display: flex;
}

%flex-display-full{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex{
	@extend %flex-display;
	justify-content: center;
	align-items: center;
}

.flexjustify{
	@extend %flex-display;
	justify-content: center;
}

.flexalign{
	@extend %flex-display;
	align-items: center;
}

.flexcollumn{
	@extend %flex-display-full;
	flex-direction: column;
}

#specs{
	background-color: $cinzaclaro;
	padding: $paddingdiv;
}

#hwa{
	p{
		color: $textcolor;
		font-size: 14px;
	}
	padding: $paddingdivmore;
}

#photo{
	background-image: url(https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg);
	background-size: cover;
	background-position: fixed;
	height: 500px;
	width: 835px;
	transition: 0.5s ease all;
	&:hover{opacity:0.5;cursor: pointer;};
}

footer{
	margin-top: $m2;
	text-align: center;
	background-color: $cinzaclaro;
	height: 10vh;
	font-weight: bold;
}