/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.icons-sprite, .icons-facebook, .icons-nissanlogo, .icons-tumblr, .nissan {
  background-image: url('../images/icons-sf5fd23f9cb.png');
  background-repeat: no-repeat; }

.icons-facebook {
  background-position: 0 0; }

.icons-nissanlogo {
  background-position: 0 -32px; }

.icons-tumblr {
  background-position: 0 -464px; }

@font-face {
  font-family: 'ceraregular';
  src: url("../fonts/cera/cera-regular-webfont.woff2") format("woff2"), url("fonts/cera-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cerabold';
  src: url("../fonts/cera/cera-bold-webfont.woff2") format("woff2"), url("fonts/cera-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'cerabold';
  -webkit-font-smoothing: antialiased; }

.nissan {
  background-position: 0 -32px;
  width: 510px;
  height: 432px; }

html {
  font-size: 100%;
  line-height: 1.5em; }

header h1, header h2, header h3, header h4, header h5, header h6 {
  color: #333333; }
header p {
  color: #333333;
  text-align: center; }

.btn-default {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 0.5em;
  height: 48px;
  font-family: "cerabold";
  background-color: #fff;
  color: #006CD8;
  border-radius: 25px;
  border: #006CD8 solid 2px;
  width: 144px; }
  .btn-default:hover {
    background-color: #006CD8;
    color: #fff; }

.message, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.warning {
  border-color: #006CD8; }

.flex, .flexjustify, .flexalign {
  display: flex; }

.flexcollumn {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex {
  justify-content: center;
  align-items: center; }

.flexjustify {
  justify-content: center; }

.flexalign {
  align-items: center; }

.flexcollumn {
  flex-direction: column; }

#specs {
  background-color: #efefef; }

#hwa p {
  color: #333333; }

#photo {
  background-image: url(../images/flor.jpg);
  background-size: cover;
  background-position: fixed;
  height: 500px;
  width: 60vw;
  transition: 0.5s ease all; }
  #photo:hover {
    opacity: 0.5;
    cursor: pointer; }

b {
  font-family: "cerabold"; }

footer {
  text-align: center;
  background-color: #efefef;
  font-weight: bold; }
  @media (min-width: 1200px) {
    footer {
      height: 240px; } }
  @media (min-width: 992px) {
    footer {
      height: 240px; } }
  @media (min-width: 768px) {
    footer {
      height: 240px; } }
  @media (min-width: 480px) {
    footer {
      height: 240px; } }
  @media (min-width: 0px) {
    footer {
      height: 240px; } }
  footer .icon {
    width: 32px;
    height: 32px; }

.m1 {
  padding: 5vh; }

@media (min-width: 1200px) {
  .container {
    max-width: 960px; } }

html {
  font-size: 100%;
  line-height: 1.5em; }

body {
  margin-top: 3em;
  margin-bottom: 0em;
  font-family: 'ceraregular'; }

p, iframe, button, div, img {
  margin-bottom: 1.5em; }

h1 {
  font-size: 3.157em;
  line-height: 1.4254em; }

h2 {
  font-size: 2.369em;
  line-height: 1.26636em; }

h3 {
  font-size: 1.777em;
  line-height: 1.68824em; }

h4 {
  font-size: 1.333em;
  line-height: 2.25056em; }

h5 {
  font-size: 1em;
  line-height: 1.5em; }

h6 {
  font-size: 0.75em;
  line-height: 2em; }

img.rhythmic {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto; }

#flor {
  max-height: 408px; }
