.icons-sprite, .icons-facebook, .icons-nissanlogo, .icons-tumblr, .nissan {
  background-image: url('../images/icons-sf5fd23f9cb.png');
  background-repeat: no-repeat; }

.icons-facebook {
  background-position: 0 0; }

.icons-nissanlogo {
  background-position: 0 -32px; }

.icons-tumblr {
  background-position: 0 -464px; }

@font-face {
  font-family: 'ceraregular';
  src: url("../fonts/cera/cera-regular-webfont.woff2") format("woff2"), url("fonts/cera-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cerabold';
  src: url("../fonts/cera/cera-bold-webfont.woff2") format("woff2"), url("fonts/cera-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'cerabold';
  -webkit-font-smoothing: antialiased; }

.nissan {
  background-position: 0 -32px;
  width: 510px;
  height: 432px; }

html {
  font-size: 100%;
  line-height: 1.5em; }

header h1, header h2, header h3, header h4, header h5, header h6 {
  color: #333333; }
header p {
  color: #333333;
  text-align: center; }

.btn-default {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 0.5em;
  height: 48px;
  font-family: "cerabold";
  background-color: #fff;
  color: #006CD8;
  border-radius: 25px;
  border: #006CD8 solid 2px;
  width: 144px; }
  .btn-default:hover {
    background-color: #006CD8;
    color: #fff; }

.message, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.warning {
  border-color: #006CD8; }

.flex, .flexjustify, .flexalign {
  display: flex; }

.flexcollumn {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex {
  justify-content: center;
  align-items: center; }

.flexjustify {
  justify-content: center; }

.flexalign {
  align-items: center; }

.flexcollumn {
  flex-direction: column; }

#specs {
  background-color: #efefef; }

#hwa p {
  color: #333333; }

#photo {
  background-image: url(../images/flor.jpg);
  background-size: cover;
  background-position: fixed;
  height: 500px;
  width: 60vw;
  transition: 0.5s ease all; }
  #photo:hover {
    opacity: 0.5;
    cursor: pointer; }

b {
  font-family: "cerabold"; }

footer {
  text-align: center;
  background-color: #efefef;
  font-weight: bold; }
  @media (min-width: 1200px) {
    footer {
      height: 240px; } }
  @media (min-width: 992px) {
    footer {
      height: 240px; } }
  @media (min-width: 768px) {
    footer {
      height: 240px; } }
  @media (min-width: 480px) {
    footer {
      height: 240px; } }
  @media (min-width: 0px) {
    footer {
      height: 240px; } }
  footer .icon {
    width: 32px;
    height: 32px; }

.m1 {
  padding: 5vh; }

@media (min-width: 1200px) {
  .container {
    max-width: 960px; } }
